* {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

body {
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > form {
    max-width: 450px;
    padding: 24px;
    background: #ffffff;
    box-shadow: 0 0 2px 1px #dadada;
    text-align: left;
}

form input[type=login], form input[type=password] {
    border: none;
    border-bottom: 1px solid #dadada;
    width: 100%;
    margin: 16px 0;
    padding: 8px;
}

form input[type=submit] {
    background: #0077aa;
    color: #fff;
    border: none;
    width: 100%;
    margin: 16px 0;
    padding: 8px;
}

form input[type=submit]:hover {
    background: #005588;
}

form input[type=checkbox] {
    vertical-align: middle;
    margin-right: 8px;
}

h1 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bolder;
}

.old-school-body {
    position: relative;
}

.old-school-form {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
