* {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

body {
    background: #f5f5f5;
    text-align: center;
}

.red {
    color: #a00;
    font-size: inherit;
}

.no-wrap {
    white-space: pre-line;
}

.title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bolder;
}

.background-image {
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    left: 0;
    top: 0;
}

a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    user-select: none;
}

a:visited {
    color: #000;
}

a:hover {
    color: #07a;
}

.header {
    margin-top: 50px;
    margin-bottom: 150px;
    text-align: right;
}

.header > .message {
    display: inline-block;
    margin: 0 8px;

}

.content {
    max-width: 1024px;
    width: 100%;
    text-align: justify;
    display: inline-block;
}

.content > .posts {
    background: #fff;
    box-shadow: 0 5px 5px 1px rgba(0,0,0,0.1);
}

.content > .about {
    padding: 14px;
    background: #fff;
    display: inline-block;
}

.post {
    margin: 0 24px;
    padding: 24px 0;
    border-bottom: 1px solid #eee;
}

.post > * {
    display: inline-block;
}

.post > .post-avatar {
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.post > .post-content {
    vertical-align: top;
    margin-left: 24px;
}

.post > .post-content > * {
    margin-top: 8px;
}

.post > .post-content > .subtitle {
    color: #777;
    font-size: 14px;
    font-style: italic;
}

.post > .post-content > .body {
    color: #000;
}

.post.post-image {
    padding: 0;
    margin: 0;
}


.post.post-image > .post-avatar {
    border-radius: unset;
    width: 100%;
    min-height: 300px;
}

.footer {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.footer > .message {
    display: inline-block;
    margin: 0 8px
}

.button-to-top {
    position: fixed;
    bottom: 15px;
    left: 15px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    background: #ffffff;
    color: #000000;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    opacity: 0.2;
}

.button-to-top:hover {
    opacity: 1;
}